<!DOCTYPE html>
<html ng-app="user">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<title>login</title>
</head>
<body ng-controller="loginController">
	<div class="container-fluid">
		<div ng-show="loginError !== undefined">{{loginError}}</div>
		<form name="" action="/login" method="post" ng-submit="login(id, password, $event)">
			<input class="input-medium" type="text" required="required" placeholder="id" ng-model="id"/>
			<input class="input-medium" type="password" required="required" placeholder="password" ng-model="password"/>
			<button type="submit">login</button>
		</form>
	</div>
	<script type="text/javascript" src="/bower_components/requirejs/require.js" data-main="/js/require.config.js"></script>
	<script type="text/javascript">
		require(["ng-modules/user"]);
	</script>
</body>
</html>